/*
@contributors :
  - @simonbernard90
*/

.size(@W : 100% , @H : 100%){
	width:@W;
	height:@H;
}

.animation( @param ){
	-webkit-animation:@param;
	   -moz-animation:@param;
		 -o-animation:@param;
			animation:@param;
}

.animation-delay( @param ){
	-webkit-animation-delay:@param;
	   -moz-animation-delay:@param;
		 -o-animation-delay:@param;
			animation-delay:@param;
}

.animation-play-state( @param ){
	-webkit-animation-play-state:@param;
	   -moz-animation-play-state:@param;
		 -o-animation-play-state:@param;
			animation-play-state:@param;
}

.animation-iteration-count( @param ){
	-webkit-animation-iteration-count:@param;
	   -moz-animation-iteration-count:@param;
		 -o-animation-iteration-count:@param;
			animation-iteration-count:@param;
}


.triangle-right(@length, @height, @color) {
	border-top:@length solid transparent;
	border-bottom:@length solid transparent;
	border-left:@height solid @color;
	border-right:none;
}
.triangle-left(@length, @height, @color) {
	border-top:@length solid transparent;
	border-bottom:@length solid transparent;
	border-right:@height solid @color;
	border-left:none;
}
.triangle-top(@length, @height, @color) {
	border-right:@length solid transparent;
	border-left:@length solid transparent;
	border-bottom:@height solid @color;
	border-top:none;
}
.triangle-bottom(@length, @height, @color) {
	border-left:@length solid transparent;
	border-right:@length solid transparent;
	border-top:@height solid @color;
	border-bottom:none;
}




