.ui-cal {
	background:tan;
	.size(254px,auto);
	border-radius:8px;
	overflow:hidden;
	> .ui-cal-header, > .ui-cal-controls {
		color:@white;
		background:@cal-gray;
	}
	> .ui-cal-header {
		border-top-left-radius:8px;
		border-top-right-radius:8px;
		> p {
			text-align:center;
			line-height:80px;
			padding-top:20px;
			font-weight:bold;
			font-size:19px;
			> span {
				padding:5px;
				&:first-child {}
			}
		}
	}
	> .ui-cal-controls {
		height:60px;
		position:relative;
		> ul {
			vertical-align:top;
			display:inline-block;
			position:absolute;
			margin:auto auto auto 10px;
			bottom:0;
			left:0;
			top:0;
			.size(60px,20px);
			&:last-child {
				margin:auto 10px auto auto;
				left:initial;
				right:0;
			}
			> li {
				font-size:19px;
				font-weight:bold;
				display:inline-block;
				vertical-align:top;
				text-align:center;
				.size(30px,20px);
				&:hover {
					cursor:pointer;
				}
			}
		}
	}
	> .ui-cal-month {
		border:solid 1px @cal-light-gray;
		border-bottom-left-radius:8px;
		border-bottom-right-radius:8px;
		background:@white;
		> .ui-cal-weekdays, > .ui-cal-date {
			> li {
				display:inline-block;
				font-weight:bold;
				vertical-align:top;
				border-radius:50%;
				text-align:center;
				line-height:36px;
				background:@white;
				position:relative;
				color:@cal-light-gray;
				.size(36px,36px);
				.transition(all 200ms ease-in);
				&.date:after, &.date:before {
					border-radius:50%;
					content:'';
					position:absolute;
					.size(6px,6px);
					background:@cal-gray;
					top:15px;
					left:15px;
					opacity:0;
					z-index:9;
					.animation-play-state(paused);
				}
				&.date:hover:not(.active) {
					cursor:pointer;
					&:after, &:before {
						.animation(fly-around 1s);
						.animation-iteration-count(infinite);
						.animation-play-state(running);
					}
					&:before {
						.animation-delay(500ms);
					}
				}
				&.active {
					background:@cal-gray;
					color:@white;
				}
				&.today, &.today.active {
					border:solid 1px @cal-light-gray;
				}
			}
		}
		> .ui-cal-weekdays > li {
			text-transform:uppercase;
			line-height:50px;
			.size(36px,50px);
			color:@cal-gray;
		}
	}
}